<nav class="custom-navbar">
  <div class="nav-container">
        <a href="#intro" class="brand">
      <img src="assets/images/nada-logo.png" alt="ندى للأخشاب" class="brand-logo">
    </a>
    <button class="menu-toggle" (click)="toggleMenu()">
      ☰
    </button>

    <ul class="nav-links" [class.open]="isOpen">
      <li><a href="#intro">الرئيسية</a></li>
      <li><a href="#about">المقدمة</a></li>
      <li><a href="#factory">عن المصنع</a></li>
      <li><a href="#products">المنتجات</a></li>
      <li><a href="#tech">التقنيات</a></li>
      <li><a href="#contact">تواصل معنا</a></li>
    </ul>


  </div>
</nav>

<script>
  const toggleBtn = document.getElementById("menu-toggle");
const navLinks = document.getElementById("nav-links");

toggleBtn.addEventListener("click", () => {
  navLinks.classList.toggle("open");
});
</script>